**auto-save-list
**eln-cache
**elpa
**maps
**nix-buffer
**transient
**~
**#**#
**.lsp*
**recentf
**.cache**
**.elc
emacs/url
emacs/session*
emacs/.dap-breakpoints
emacs/games
emacs/racket-mode
emacs/tree-sitter
emacs/tramp
emacs/projectile-bookmarks.eld
emacs/configs/node-path.el
emacs/eclipse.jdt.ls
emacs/workspace
emacs/eshell
emacs/ielm-history.eld
emacs/forge-database.sqlite
emacs/projects
